body {
    font-family: Arial, sans-serif;
    background-color: black;
    padding: 20px;
  }

  h1 {
    font-size: 48px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-top: 100px;
  }
  

  .design {
    border: 50px;
    padding: 50px;
    margin: auto;
    height: 420px;
    width: 400px;
    border-radius: 100px;
  }
  
  #requests-section {
    margin-top: 10px;
    border: 1px solid #999;
    padding: 20px;
    background-color: #fff;
    width: 500px;

  }
  
  #requests-container {
    margin-top: 10px;
    display: contents;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }

  textarea {
    height: 150px;
    width: 400px;
    padding: 30px;
    resize: none; 


  }
  
  input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    display: block;
    width: 90%;
    height: 50px
  }
  
  button {
    background-color: blue;
    border: none;
    color: white;
    padding: 20px 30px;
    width: 470px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: rgba(0, 0, 255, 0.686);
  }