body {
  background-color: grey;
  padding-top: 100px;
}

.design{
  border: 50px;
  margin: auto;
  margin-top: 50px;
  padding: 25px;
  padding-bottom: 50px;
  height: 200px;
  width: 420px;
  background-color:white;
  border-radius: 50px;
  
}

section{
  margin: auto;
}

input button{
  text-align: center;
}

p {
  color: red;
  text-align: center;
  font-weight: bold;
}

h1 {
  text-align: center;
  font-size: 24px;

}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
  color: blue;
  font-weight: bold;
  font-size: xx-large;
  
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 70%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: blue;
  width: 73%;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  margin-left: 45px;
  cursor: pointer;
  margin-bottom: 10px;
  align-items: center;
}

#requests-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

input{
  margin-left: 45px;
  text-align: center;
  height: 25px;
}

